@use "common.scss" as common;

:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #d31b1b;
    --secondary: #c8690a;
    --accent: #118e11;
    --primary-hover: #ed1717;
}

body {
    @include common.flex();
    min-height: 100vh;
}

.nav--admin {
    max-width: 200px;
    min-height: 100%;
    background-color: var(--primary);

    &__ul {
        @include common.flex(column, space-around, center);
        gap: 1rem;
    }

    &__li {
        display: block;
        font-size: clamp(1rem, 2vw, 1.2rem);
    }

    &__logo-link {
        display: block;
        margin-bottom: 2rem;
    }

    &__a {
        width: 100%;
        color: #fff;
        padding: 10px;
        transition: background-color 0.25s ease;

        &:hover {
            background-color: #f24646;
            text-decoration: underline;
        }
    }

    .logo {
        max-width: 100%;
    }
}

.main {
    width: 100%;
    &:has(.section--warning) {
        @include common.flex(column, center, center);
    }
}

.section--warning {
    @include common.flex(column, center, center);
    background-color: var(--background);
    padding: 20px;
    height: 50%;
    width: 50%;
    min-width: 250px;
    min-height: 250px;
    box-shadow: 0 0 25px #222;
    border-radius: 20px;
    margin: auto;

    &__h2 {
        color: var(--text);
        font-size: 2rem;
        text-align: center;
    }

    &__svg {
        height: auto;
        width: 100%;
        padding-top: 25px;

        svg {
            height: 100px;
            width: 100%;
        }
    }
}

.add-button {
    background-color: var(--accent);
    font-size: 2.5rem;
    border-radius: 1rem;
    width: 150px;
    margin: 1rem;
    transition: background-color 0.125s ease;

    &:hover {
        background-color: hsl(120, 79%, 41%);
    }
}

.table {
    width: calc(100% - 2rem);
    text-align: center;
    margin: auto;
    border-collapse: collapse;

    &__caption-container {
        padding-inline: 1rem;
        @include common.flex(row, space-between, center);
    }

    &__caption {
        text-align: left;
        font-size: clamp(1.75rem, 5vw, 2.5rem);
        font-weight: 700;
    }

    &__head {
        border-bottom: 1px #ccc solid;
    }

    &__header {
        padding-block: 0.5rem;
    }

    tr {
        border-block: 1px #ccc6 solid;
    }

    &__cell {
        padding: 1rem;
        text-wrap: balance;

        &--actions {
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
        }

        &--orders[data-cell="products"] {
            @include common.flex(column, center, center);
        }
    }

    &__ticket {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;

        span {
            margin: 20px 0px 20px 0px;
            width: 100%;
        }

        &:not(:last-child) {
            border-bottom: 1px #0008 solid;
        }
    }
    &__client{
        @include common.flex(column,space-between);
        min-height: 100px;
        min-width: 200px;
    }

    &__image {
        max-width: 100px;
    }

    &__svg {
        font-size: 2.25rem;
        transition: fill 0.125s ease;

        &--edit,&--finish {
            fill: #4682b4;

            &:hover {
                fill: hsl(207, 49%, 39%);
            }
        }

        &--delete,&--cancel {
            fill: #dc143c;

            &:hover {
                fill: hsl(348, 89%, 37%);
            }
        }
    }
    &__products-btn, &__client-btn {
        background-color: var(--primary);
        padding: 20px;
        color: var(--background);
        font-weight: bold;
        border-radius: 15px;
        &:hover {
            background-color: var(--primary-hover);
        }
    }

    @media (width < 880px) {
        text-align: left;

        &__caption-container {
            padding-inline: 0;
        }

        &__head {
            display: none;
        }

        &__image {
            display: block;
        }

        &__cell {
            display: block;

            &--actions {
                height: 100%;
                display: flex;
                justify-content: flex-start;
                gap: 5rem;
            }

            &:not(.table__cell:last-of-type)::before {
                content: attr(data-cell) ": ";
                font-weight: 700;
            }

            &--news:nth-of-type(3) {
                max-width: 75vw;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.form {
    border: black solid 1px;
    width: 90%;
    max-width: 500px;
    padding: 10px;
    position: fixed;
    background-color: var(--background);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    @include common.flex(column);

    &__header {
        @include common.flex(row, space-between);
    }

    &__close {
        font-size: 2rem;
        transition: transform 0.125s linear;

        &:hover {
            transform: scale(1.25);
        }
    }

    &__group {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        width: 100%;
    }

    &__input {
        grid-area: 1/2/1/7;
        width: auto;
        padding-block: 5px;
        margin-block: 5px;
        resize: vertical;

        &:not(&--submit) {
            border-bottom: 1px var(--text) solid;

            &:focus,
            &:focus-within {
                border-bottom: 1px var(--primary) solid;
            }
        }

        &--submit {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;

            &:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.products-dialog, .client-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px #222;
    border-radius: 15px;
    padding: 20px;

    &__close {
        background-color: var(--primary);
        padding: 8px;
        color: var(--background);
        font-weight: bold;
        border-radius: 5px;
        margin: 0;
        margin-left: 95%;
        &:hover {
            background-color: var(--primary-hover);
        }
    }
    &__container {
        margin-top: 20px;
    }
}