* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
}
.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.2rem;
}
.nav__a {
  color: #fff;
  padding: 10px;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
  padding-top: 5px;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  width: 100px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.footer__container--2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 3rem;
}
@media (width <= 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .footer__container--2 {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.svg1 {
  width: 100%;
}

.toggle-menu {
  display: none;
}

@media (max-width: 990px) {
  .logo {
    max-width: 150px;
  }
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 150%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary);
    padding-inline: 100px;
    border-radius: 0 0 0 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
  .nav__li {
    margin: 2rem;
    color: black;
  }
}
:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #d31b1b;
  --secondary: #c8690a;
  --accent: #118e11;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  min-height: 100vh;
}

.nav--admin {
  max-width: 200px;
  min-height: 100%;
  background-color: var(--primary);
}
.nav--admin__ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.nav--admin__li {
  display: block;
  font-size: clamp(1rem, 2vw, 1.2rem);
}
.nav--admin__logo-link {
  display: block;
  margin-bottom: 2rem;
}
.nav--admin__a {
  width: 100%;
  color: #fff;
  padding: 10px;
  transition: background-color 0.25s ease;
}
.nav--admin__a:hover {
  background-color: #f24646;
  text-decoration: underline;
}
.nav--admin .logo {
  max-width: 100%;
}

.main {
  width: 100%;
}
.main:has(.section--warning) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--warning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  padding: 20px;
  height: 50%;
  width: 50%;
  min-width: 250px;
  min-height: 250px;
  box-shadow: 0 0 25px #222;
  border-radius: 20px;
  margin: auto;
}
.section--warning__h2 {
  color: var(--text);
  font-size: 2rem;
  text-align: center;
}
.section--warning__svg {
  height: auto;
  width: 100%;
  padding-top: 25px;
}
.section--warning__svg svg {
  height: 100px;
  width: 100%;
}

.add-button {
  background-color: var(--accent);
  font-size: 2.5rem;
  border-radius: 1rem;
  width: 150px;
  margin: 1rem;
  transition: background-color 0.125s ease;
}
.add-button:hover {
  background-color: hsl(120, 79%, 41%);
}

.table {
  width: calc(100% - 2rem);
  text-align: center;
  margin: auto;
  border-collapse: collapse;
}
.table__caption-container {
  padding-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table__caption {
  text-align: left;
  font-size: clamp(1.75rem, 5vw, 2.5rem);
  font-weight: 700;
}
.table__head {
  border-bottom: 1px #ccc solid;
}
.table__header {
  padding-block: 0.5rem;
}
.table tr {
  border-block: 1px rgba(204, 204, 204, 0.4) solid;
}
.table__cell {
  padding: 1rem;
  text-wrap: balance;
}
.table__cell--actions {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}
.table__cell--orders[data-cell=products] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table__ticket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.table__ticket span {
  width: 100%;
}
.table__ticket:not(:last-child) {
  border-bottom: 1px rgba(0, 0, 0, 0.5333333333) solid;
}
.table__image {
  max-width: 100px;
}
.table__svg {
  font-size: clamp(1.33rem, 3vw, 2rem);
  transition: fill 0.125s ease;
}
.table__svg--edit {
  fill: #4682b4;
}
.table__svg--edit:hover {
  fill: hsl(207, 49%, 39%);
}
.table__svg--delete {
  fill: #dc143c;
}
.table__svg--delete:hover {
  fill: hsl(348, 89%, 37%);
}
@media (width < 880px) {
  .table {
    text-align: left;
  }
  .table__caption-container {
    padding-inline: 0;
  }
  .table__head {
    display: none;
  }
  .table__image {
    display: block;
  }
  .table__cell {
    display: block;
  }
  .table__cell--actions {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
  }
  .table__cell:not(.table__cell:last-of-type)::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
  }
  .table__cell--news:nth-of-type(3) {
    max-width: 75vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.form {
  border: black solid 1px;
  width: 90%;
  max-width: 500px;
  padding: 10px;
  position: fixed;
  background-color: var(--background);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}
.form__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: initial;
}
.form__close {
  font-size: 2rem;
  transition: transform 0.125s linear;
}
.form__close:hover {
  transform: scale(1.25);
}
.form__group {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  width: 100%;
}
.form__input {
  grid-area: 1/2/1/7;
  width: auto;
  padding-block: 5px;
  margin-block: 5px;
  resize: vertical;
}
.form__input:not(.form__input--submit) {
  border-bottom: 1px var(--text) solid;
}
.form__input:not(.form__input--submit):focus, .form__input:not(.form__input--submit):focus-within {
  border-bottom: 1px var(--primary) solid;
}
.form__input--submit {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.form__input--submit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/*# sourceMappingURL=admin.css.map */
