*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin flex($direction: row, $justify: initial, $align: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}