* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Mulish";
}

a {
    text-decoration: none;
    color: inherit;
}

.footer {
    background-color: #4a4a9e;
    color: var(--background);

    text-align: left;
    bottom: 0;
    width: 100%;
    &__p {
        padding: 10px;
    }
    &__a {
        text-align: center;
        color: #fff;
        margin: 0 10px;
        :hover {
            text-decoration: underline;
        }
    }
    .copyright {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
    }
}


@mixin flex($direction: row, $justify: initial, $align: initial) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
