* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

@mixin flex($direction: row, $justify: initial, $align: initial) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  @include flex(row, space-between, center);
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
  &__ul {
    @include flex(row, space-around, center);
    gap: 1rem;
    padding: 30px;
  }
  &__li {
    display: block;
    font-size: 1.2rem;
  }
  &__a {
    color: #fff;
    padding: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer {
  @include flex(row,space-between,center);
  gap:0;
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
  padding-top: 5px;
  &__p {
    padding: 20px;
    width: 100%;
  }
  &__a {
    width: 100px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    :hover {
      text-decoration: underline;
    }
  }
  &__container{
    @include flex(row,flex-start,center);
    width: 40%;
  }
  &__container--2{
    @include flex(row,flex-end,center);
    margin-right: 1rem;
    gap:3rem;
  }

  @media (width <= 400px) {
    @include flex(column,space-between,center);
    gap:1rem;
    &__a{
    }
    &__container{
      @include flex(row,center,center);
      width: 100%;
      max-width: 100%;
    }
    &__container--2{
      margin:0;
      @include flex(row,center,center);
      gap:3rem;
    }
  }
}

.svg1 {
  width: 100%;
}


.toggle-menu {
  display: none;
}

@media (max-width: 990px) {
  .logo {
    max-width: 150px;
  }
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 150%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary);
    padding-inline: 100px;
    border-radius: 0 0 0 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    @include flex(column, center, center);
  }

  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
  .nav__li {
    margin: 2rem;
    color: black;
  }
}
