@use "common.scss" as common;

:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #d31b1b;
    --secondary: #c8690a;
    --accent: #118e11;
}

.family {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    &__li {
        margin-bottom: 10px;
    }
    &__nav-container {
        padding: 20px;
    }
    &__description-container {
        width: auto;
        text-align: center;
        margin: 20px 0px;
    }
    &__title-container {
        text-align: center;
        font-size: clamp(2rem, 4vw, 3.5rem);
        color: var(--background);
        background-color: var(--primary);
    }
    &__cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        background-color: var(--secondary);
        text-align: center;
        padding: 10px;
        &--TP{
            max-width: 400px;
            height: 200px;
            margin: auto;
            width: 100%;
        }
    }
    &__body {
        padding-inline: 16px;
        color: var(--background);
        font-weight: bold;
        max-height: 200px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: .125rem;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--primary);
            outline: 1px solid var(--primary);
            border-radius: 16px;
        }
    }

    &__img {
        max-width: 300px;
        width: 100%;
        padding: 8px;
        margin-inline: auto;
        &-container--TP{
            height: 100%;
            width: 100%;
        }
        &--TP{
            max-width: 100%;
            width: 100%;
            height: 100%;
            
        }
    }
}

@media (width < 800px) {
    .family__cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (width < 500px) {
    .family__cards-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}
