* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
}
.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.125rem;
}
.nav__a {
  color: #000;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
  padding-top: 5px;
  margin-top: auto;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  width: 100px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.footer__container--2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 3rem;
}
@media (width <= 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .footer__container--2 {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.svg1 {
  width: 100%;
}

.toggle-menu {
  display: none;
}

@media (max-width: 995px) {
  .logo {
    max-width: 150px;
  }
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 150%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary);
    padding-inline: 100px;
    border-radius: 0 0 0 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__li {
    margin-block: 2rem;
    color: black;
  }
  .nav__a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
}
:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #d31b1b;
  --secondary: #c8690a;
  --accent: #118e11;
}

.family {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 20px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}
.family__li {
  margin-bottom: 10px;
}
.family__nav-container {
  padding: 20px;
}
.family__description-container {
  width: auto;
  text-align: center;
  margin: 20px 0px;
}
.family__title-container {
  text-align: center;
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: var(--background);
  background-color: var(--primary);
}
.family__cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.family__card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  text-align: center;
  padding: 10px;
}
.family__card--TP {
  max-width: 400px;
  height: 200px;
  margin: auto;
  width: 100%;
}
.family__body {
  padding-inline: 16px;
  color: var(--background);
  font-weight: bold;
  max-height: 200px;
  overflow-y: scroll;
}
.family__body::-webkit-scrollbar {
  width: 0.125rem;
}
.family__body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: 1px solid var(--primary);
  border-radius: 16px;
}
.family__img {
  max-width: 300px;
  width: 100%;
  padding: 8px;
  margin-inline: auto;
}
.family__img-container--TP {
  height: 100%;
  width: 100%;
}
.family__img--TP {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media (width < 800px) {
  .family__cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (width < 500px) {
  .family__cards-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

/*# sourceMappingURL=familias.css.map */
