* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.2rem;
}
.nav__a {
  color: #fff;
  padding: 10px;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 30px;
}

.nav__li {
  display: block;
  font-size: 1.2rem;
}

.nav__a {
  color: #fff;
  padding: 10px;
}

.nav__a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
}

.footer__p {
  padding: 20px;
  width: 100%;
}

.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}

.footer__a :hover {
  text-decoration: underline;
}

.footer .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.toggle-menu {
  display: none;
}

@media (max-width: 900px) {
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 100%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary);
    padding-inline: 100px;
    border-radius: 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
  .nav__li {
    margin: 2rem;
    color: black;
  }
}

:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #d31b1b;
  --secondary: #c8690a;
  --accent: #118e11;
}

section {
  margin: 0 auto;
  width: 70%;
}

h2 {
  text-align: center;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding: 20px;
}

.form {
  padding: 20px;
}

.form__title-container {
  padding: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input[type=text] {
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: rgb(203, 203, 203);
}

input[type=mail] {
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: rgb(203, 203, 203);
}

input[type=tel] {
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: rgb(203, 203, 203);
}

input[type=submit] {
  background-color: #118E11;
  border-radius: 20px;
  border: none;
  padding: 10px;
  color: white;
  width: 80px;
}

.news__img {
  width: 20%;
  height: 30%;
}

.section--news__text {
  color: #FFF;
  text-align: center;
}

.news__events-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 60%;
  transition: 0.2s;
  background: linear-gradient(135deg, rgb(248, 80, 50) 0%, rgb(241, 111, 92) 50%, rgb(246, 41, 12) 51%, rgb(240, 47, 23) 71%, rgb(231, 56, 39) 100%);
}

.news__events-container:hover {
  width: 90%;
  transition: 0.2s;
}

.news__events-container:nth-of-type(even) {
  align-self: flex-end;
  flex-direction: row-reverse;
}

/*# sourceMappingURL=familias.css.map */
