@use "common.scss" as common;

:root {
    --text: #000000;
    --background: #ffffff;
    --primary: #d31b1b;
    --secondary: #c8690a;
    --accent: #118e11;
}

section{
    margin: 0 auto;
    width: 70%;
}

h2{
    text-align: center;
    font-size: clamp(2rem,4vw,3.5rem);
}

.news{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding: 20px;
}

.news__img{
    max-width: 200px;
    width: 100%;
    padding: 8px;
}

.section--news__text{
    color: #FFF;
    text-align: center;
}

.news__events-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 60%;
    transition: 0.2s;
    background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 50%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
}

@media (width > 600px) {
    .news__events-container:hover{
        width: 90%;
        transition: 0.2s;
    }
    
    .news__events-container:nth-of-type(even){
       align-self: flex-end;
       flex-direction: row-reverse;
    }
}

@media (width <= 950px) {
    .news__events-container{
        width: 100%;
    }
}

@media (width <= 600px) {
    .news__events-container{
        @include common.flex(column,center,center);
    }
}
