* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
}
.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.25rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.125rem;
}
.nav__a {
  color: #000;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
  padding-top: 5px;
  margin-top: auto;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  width: 100px;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
}
.footer__container--2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 3rem;
}
@media (width <= 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
  }
  .footer__container--2 {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.svg1, .svg2 {
  width: 100%;
  fill: white;
}

.toggle-menu {
  display: none;
}
.toggle-menu svg {
  fill: #000;
}

@media (max-width: 995px) {
  .logo {
    max-width: 150px;
  }
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 150%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.2666666667);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2666666667);
    padding-inline: 100px;
    border-radius: 0 0 0 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__li {
    margin-block: 2rem;
    color: black;
  }
  .nav__a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
}
:root {
  --text: #04042f;
  --background: #f6f6fe;
  --primary: #f70000;
  --secondary: #d1d1e1;
  --accent: #4a4a9e;
}

#team_box-team-title {
  padding: 30px 0px;
  font-size: clamp(2.25rem, 6vw, 5rem);
  text-align: center;
  color: var(--background);
}

#team_box {
  width: 100%;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  background-color: #4a4a9e;
}

.slider {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  width: 75%;
  min-height: 500px;
  margin: auto;
  overflow: hidden;
  z-index: 900;
  border-radius: 20px;
}

.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
  display: flex;
}

.img-abogado {
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 1s;
}

.slider .slide img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slider .slide .info {
  color: #222;
  width: 50%;
  padding: 25px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider .slide .info h2 {
  font-size: 2em;
  color: #152744;
}

.slider .slide .info p {
  font-size: 1em;
  color: black;
  line-height: 21px;
  font-weight: 400;
  text-align: justify;
}

.navigation {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .navigation {
  opacity: 1;
}

.prev-btn,
.next-btn {
  z-index: 999;
  font-size: 2em;
  color: #222;
  background: rgba(255, 255, 255, 0.397);
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0 0 2px black;
}

.prev-btn {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.navigation-visibility {
  z-index: 999;
  display: flex;
  justify-content: center;
}

.navigation-visibility .slide-icon {
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
  box-shadow: 0 0 3px black;
  display: none;
}

.navigation-visibility .slide-icon.active {
  background-color: #367591;
}

@media (max-width: 900px) {
  .slider .slide .info {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .slider .slide .info h2 {
    font-size: 1.8em;
    line-height: 40px;
  }
  .slider .slide .info p {
    font-size: 0.9em;
  }
}
@media (max-width: 650px) {
  #team_box-team-title {
    padding-bottom: 30px;
  }
  #team_box {
    padding-bottom: 0;
  }
  .slider {
    height: 100%;
  }
  .slider .slide {
    flex-direction: column;
  }
  .img-abogado {
    background-position: center;
    height: 35%;
    width: 100%;
  }
  .slider .slide .info {
    height: 65%;
    width: 100%;
  }
}
#contact_box {
  width: 100%;
  margin: auto;
}

#contact_box-contact-title {
  color: black;
  font-size: 3.5rem;
  text-align: center;
  line-height: 70px;
}

#contact_box-main {
  background-color: #4a4a9e;
  border-radius: 10px;
  height: 500px;
  width: 75%;
  margin: 40px auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

#contact_box-main hr {
  outline: 2px solid white;
  height: 10%;
}

#contact_box-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact_box-info a {
  text-decoration: none;
}

#contact_box-info a:hover {
  text-decoration: underline;
  padding: 10px;
  border-radius: 10px;
}

#contact_box-info div {
  display: flex;
  align-items: center;
}

#contact_box-info img {
  margin: 10px;
  height: 20px;
  opacity: 70%;
}

#contact_box-info h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  opacity: 70%;
}

#address_text:hover {
  cursor: pointer;
  text-decoration: underline;
}

#contact_box-info,
#contact_box-form {
  width: 50%;
}

#contact_box-form {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

#contact_box-form h2 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 15px;
}

#contact_box-form label {
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

#contact_box-form input {
  margin-bottom: 10px;
  height: 35px;
  padding: 5px;
  transition: 0.2s ease-in-out;
  background-color: rgba(54, 118, 145, 0);
  border: 2px solid #367591;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
}

#contact_box-form input::placeholder {
  color: #9d9c9c;
  font-weight: bold;
}

#contact_box-form input:focus {
  height: 40px;
  transition: 0.2s;
}

#contact_box-info-num, #contact_box-info-mail {
  display: flex;
  gap: 20px;
}

#contact_box-form input[type=submit] {
  margin-top: 10px;
  height: 35px;
  width: 50%;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: #367691;
}

#contact_box-form textarea {
  background-color: rgba(54, 118, 145, 0);
  border: 2px solid #367591;
  border-radius: 10px;
  font-size: 1rem;
  resize: none;
  padding: 7px;
  height: 60px;
  transition: 0.2s;
  color: white;
}

#contact_box-form textarea::placeholder {
  color: #9d9c9c;
  font-weight: bold;
}

#contact_box-form textarea:focus {
  height: 120px;
  transition: 0.2s;
}

#contact_box-form input[type=submit]:hover {
  color: white;
  width: 100%;
  transition: 0.2s;
}

#footer_box {
  width: 100%;
}

#footer_box h2 {
  font-size: 2rem;
  text-align: center;
  color: white;
}

@media (max-width: 950px) {
  #contact_box-contact-title {
    padding-bottom: 10px;
    color: #fff;
  }
  #contact_box {
    background: #4a4a9e;
    width: 100%;
    padding: 30px;
    height: auto;
  }
  #contact_box-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    height: auto;
  }
  #contact_box-info {
    width: 100%;
  }
  #contact_box-info div {
    justify-content: center;
    flex-direction: row;
    margin-bottom: 22px;
  }
  #contact_box-info img {
    margin-bottom: 12px;
    height: 35px;
  }
  #contact_box-info h2 {
    font-size: 1.5rem;
    text-align: center;
    color: black;
  }
  #contact_box-info,
  #contact_box-form {
    width: 100%;
  }
  #contact_box-form {
    width: 100%;
  }
  #contact_box-form h2 {
    font-size: 2.2rem;
    color: white;
  }
  #contact_box-form label {
    font-size: 1.6rem;
    margin-bottom: 7px;
  }
  #contact_box-form input {
    height: 45px;
    margin-bottom: 20px;
  }
  #contact_box-form input[type=submit] {
    height: 55px;
    width: 100%;
    font-size: 1.4rem;
  }
  #contact_box-form textarea {
    height: 120px;
  }
}

/*# sourceMappingURL=organizations.css.map */
