* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.2rem;
}
.nav__a {
  color: #fff;
  padding: 10px;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 30px;
}

.nav__li {
  display: block;
  font-size: 1.2rem;
}

.nav__a {
  color: #fff;
  padding: 10px;
}

.nav__a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
}

.footer__p {
  padding: 20px;
  width: 100%;
}

.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}

.footer__a :hover {
  text-decoration: underline;
}

.footer .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.toggle-menu {
  display: none;
}

@media (max-width: 900px) {
  .nav__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10%;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
    background-color: #4a4a9e;
    padding: 100px;
    border-radius: 10px;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
  }
  .show-menu {
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }
  .nav__li {
    margin: 2em;
    color: black;
  }
  .toggle-menu {
    display: block;
    font-size: 2em;
  }
  .slider {
    width: 100%;
  }
  .slider .slide .info {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #d31b1b;
  --secondary: #c8690a;
  --accent: #118e11;
}

.main {
  color: var(--background);
  width: 100%;
  height: 50vh;
  background: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__img {
  height: 100%;
  margin-right: 80px;
  animation: 1s main__img-animation;
}
.main__textbox {
  width: 50%;
  border-left: 2px solid var(--background);
  height: max-content;
  padding-left: 20px;
  padding-right: 30px;
  animation: 1.5s main__textbox-animation;
}
.main__title {
  margin-bottom: 10px;
  font-size: 2rem;
}
.main__description {
  font-size: 1.1rem;
}
@media (max-width: 750px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .main__img {
    width: 60%;
    margin-right: 0;
  }
  .main__textbox {
    width: 90%;
    margin-bottom: 40px;
    border: 2px solid var(--background);
    padding: 20px;
  }
}
@media (max-width: 450px) {
  .main__img {
    width: 80%;
    margin-right: 0;
  }
}

@keyframes main__img-animation {
  0% {
    opacity: 0%;
    transform: translateX(15%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
@keyframes main__textbox-animation {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.sections {
  color: var(--background);
  height: 300px;
  border: 6px solid var(--primary);
  border-radius: 5px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
.sections__title {
  color: var(--secondary);
  font-size: 2rem;
  margin-top: 14px;
}
.sections__container {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: initial;
  width: 100%;
  height: 100%;
  padding: 7px;
}
.sections__section {
  width: 25%;
  margin: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  transition: 0.2s;
}
.sections__section--green {
  background-color: var(--accent);
}
.sections__section--brown {
  background-color: var(--secondary);
}
.sections__section:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px black;
  transition: 0.2s;
}
.sections__img {
  margin-right: 10px;
  height: 45px;
  filter: grayscale(100%) saturate(0%) sepia(100%);
}
.sections__name {
  font-size: clamp(1rem, 2vw, 1.66rem);
}
@media (max-width: 1200px) {
  .sections__section {
    flex-direction: column;
  }
  .sections__img {
    margin: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .sections {
    border-radius: 0;
    padding: 0px;
    margin: 0;
    height: auto;
    padding-bottom: 20px;
  }
  .sections__container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: initial;
  }
  .sections__title {
    padding: 0px;
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .sections__section {
    width: auto;
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
  }
  .sections__section:hover {
    transform: scale(1);
    height: 120px;
  }
  .sections__img {
    margin-right: 10px;
  }
}

.history {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.history__title {
  text-align: center;
  font-size: 2rem;
  color: var(--secondary);
}
.history__p {
  max-width: 1600px;
  padding-inline: 2rem;
  text-align: center;
  text-wrap: balance;
  font-size: 1.125rem;
}

/*# sourceMappingURL=style.css.map */
