* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
  color: white;
}

:root {
  --text: #170707;
  --background: #ffffff;
  --primary: #f70000;
  --secondary: #f7a59d;
  --accent: #66291c;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  height: 80px;
  background-color: var(--primary);
}

.main {
  width: 100%;
  height: 50vh;
  background: var(--secondary);
  background: linear-gradient(90deg, var(--secondary) 0%, var(--primary) 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main__img {
  height: 100%;
  margin-right: 80px;
  animation: 1s main__img-animation;
}
.main__textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 50%;
  border-left: 2px solid white;
  height: max-content;
  padding-left: 20px;
  padding-right: 30px;
  animation: 1.5s main__textbox-animation;
}
.main__title {
  margin-bottom: 10px;
  font-size: 2rem;
}
.main__description {
  font-size: 1.1rem;
}
@media (max-width: 450px) {
  .main__img {
    width: 80%;
    margin-right: 0;
  }
}
@media (max-width: 750px) {
  .main {
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .main__img {
    width: 60%;
    margin-right: 0;
  }
  .main__textbox {
    width: 90%;
    margin-bottom: 40px;
    border: 2px solid white;
    padding: 20px;
  }
}

.sections {
  height: 300px;
  border: 6px solid var(--secondary);
  border-radius: 5px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sections__title {
  color: var(--accent);
  font-size: 2rem;
  margin-top: 14px;
}
.sections__container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 7px;
}
.sections__section {
  width: 25%;
  background-color: var(--background);
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  transition: 0.2s;
}
.sections__section:hover {
  transform: scale(1.1);
  box-shadow: 0 0 4px black;
  transition: 0.2s;
}
.sections__img {
  margin-right: 10px;
  height: 45px;
}
@media (max-width: 1200px) {
  .sections__container {
    flex-direction: column;
  }
  .sections__img {
    margin: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 750px) {
  .sections {
    background-color: var(--accent);
    border-radius: 0;
    padding: 0;
    margin: 0;
    height: auto;
    padding-bottom: 20px;
  }
  .sections__title {
    padding: 0;
    margin: 0;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .sections__sections {
    flex-direction: column;
    padding: 5px;
    margin: 0;
  }
  .sections__section {
    width: auto;
    border: 2px solid white;
    border-radius: 150px;
    padding: 0;
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: left;
    margin: 5px;
  }
  .sections__section:hover {
    transform: scale(1);
    height: 120px;
  }
  .sections__img {
    margin-right: 10px;
  }
}

footer {
  width: 100%;
  height: 80px;
  background-color: var(--primary);
}

/*# sourceMappingURL=style.css.map */
