@use "common.scss" as common;

:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #f67575;
  --secondary: #f6b677;
  --accent: #99e999;
  --accent-hover: hsl(120, 85%, 48%);
}

body {
  background-color: var(--secondary);
}

.title {
  text-align: center;
  font-size: 3rem;
}

.product {
  padding: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(20rem, 80vw));
  gap: 2rem;
  justify-content: center;
  margin: auto;

  &__card {
    text-wrap: balance;
    border: 1px solid var(--text);
    border-radius: 1rem;
    background-color: var(--primary);
    height: 25rem;
  }

  &__img {
    height: 300px;
    border-radius: 1rem 1rem 0 0;
    width: 100%;
  }

  &__data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: clamp(0.7rem, 8vw, 2.5rem) 100%;
    align-items: center;
  }

  &__name {
    grid-area: 1/1/1/3;
    line-height: clamp(1rem, 4.8vw, 1.5rem);
    font-size: clamp(1rem, 4.8vw, 1.5rem);
  }

  &__price {
    grid-area: 2/1/2/1;
    font-size: clamp(1rem, 5vw, 1.3rem);
    font-weight: 600;
  }

  &__buy {
    grid-area: 2/2;
    margin: 5px;
    font-size: clamp(1rem, 5vw, 1.2rem);
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--accent);
    transition: background-color 0.2s ease;
    &:hover {
      background-color: var(--accent-hover);
    }
  }

  @media (width <= 425px) {
    &__data {
      grid-template-rows: clamp(1.5rem,6.5vw,2.5rem) 100%;
    }
  }
}

.separator {
  width: 90%;
  height: 2px;
  background-color: #000000;
  margin: auto;
}

.cart {
  max-width: 500px;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  @include common.flex(column);
  gap: 1.5rem;

  &__title-container {
    @include common.flex(row, flex-start, center);
    font-size: 2rem;
    gap: 1rem;
  }

  &__products-container {
    @include common.flex(column);
    gap: 0.5rem;
    margin-left: 5rem;
    font-size: 1.3rem;
  }

  &__product {
    @include common.flex(row, space-between);

    &-delete{
      order: -1;
      background: none;
      font-size: 1.5rem;
      margin-right: 1.5rem;
      svg{
        cursor: pointer;
        fill: crimson;
        &:hover{
          fill: red;
        }
      }
    }
  }

  &__total-container {
    margin-left: 5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__buy {
    font-size: 1.66rem;
    width: 50%;
    text-align: center;
    border-radius: 1rem;
    padding: 0.25rem;
    cursor: pointer;
    background-color: var(--accent);

    &:hover {
      background-color: var(--accent-hover);
    }
  }
}
