* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Mulish";
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  padding: 30px;
}
.nav__li {
  display: block;
  font-size: 1.2rem;
}
.nav__a {
  color: #fff;
  padding: 10px;
}
.nav__a:hover {
  text-decoration: underline;
}

.footer {
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
}
.footer__p {
  padding: 20px;
  width: 100%;
}
.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}
.footer__a :hover {
  text-decoration: underline;
}
.footer .copyright {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--primary);
}

.logo {
  max-width: 250px;
  padding: 10px;
}

.nav {
  position: relative;
}

.nav__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 30px;
}

.nav__li {
  display: block;
  font-size: 1.2rem;
}

.nav__a {
  color: #fff;
  padding: 10px;
}

.nav__a:hover {
  text-decoration: underline;
}

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--background);
  text-align: left;
  width: 100%;
  padding-inline: 20px;
}
.footer__social {
  grid-area: 1/1/1/1;
}
.footer__data {
  grid-area: 1/2/1/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20%;
}
.footer__copyright {
  grid-area: 2/1/2/3;
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.footer__p {
  width: 100%;
}

.footer__a {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}

.footer__a :hover {
  text-decoration: underline;
}

.toggle-menu {
  display: none;
}

@media (max-width: 990px) {
  .logo {
    max-width: 150px;
  }
  .nav__ul {
    display: none;
    gap: 0;
    position: absolute;
    top: 150%;
    right: 0;
    width: 10%;
    transition: all 0.5s ease-in-out;
    background-color: var(--primary);
    padding-inline: 100px;
    border-radius: 0 0 0 10px;
    z-index: 999999;
  }
  .nav__ul.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle-menu {
    display: block;
    padding-right: 0.5rem;
    font-size: 2rem;
  }
  .nav__li {
    margin: 2rem;
    color: black;
  }
}

:root {
  --text: #000000;
  --background: #ffffff;
  --primary: #f67575;
  --secondary: #f6b677;
  --accent: #99e999;
  --accent-hover: hsl(120, 85%, 48%);
}

body {
  background-color: var(--secondary);
}

.title {
  text-align: center;
  font-size: 3rem;
}

.product {
  padding: 3rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(20rem, 80vw));
  gap: 2rem;
  justify-content: center;
  margin: auto;
}
.product__card {
  text-wrap: balance;
  border: 1px solid var(--text);
  border-radius: 1rem;
  background-color: var(--primary);
  height: 25rem;
}
.product__img {
  height: 300px;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}
.product__data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: clamp(0.7rem, 8vw, 2.5rem) 100%;
  align-items: center;
}
.product__name {
  grid-area: 1/1/1/3;
  line-height: clamp(1rem, 4.8vw, 1.5rem);
  font-size: clamp(1rem, 4.8vw, 1.5rem);
}
.product__price {
  grid-area: 2/1/2/1;
  font-size: clamp(1rem, 5vw, 1.3rem);
  font-weight: 600;
}
.product__buy {
  grid-area: 2/2;
  margin: 5px;
  font-size: clamp(1rem, 5vw, 1.2rem);
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--accent);
  transition: background-color 0.2s ease;
}
.product__buy:hover {
  background-color: var(--accent-hover);
}
@media (width <= 425px) {
  .product__data {
    grid-template-rows: clamp(1.5rem, 6.5vw, 2.5rem) 100%;
  }
}

.separator {
  width: 90%;
  height: 2px;
  background-color: #000000;
  margin: auto;
}

.cart {
  max-width: 650px;
  margin: 4rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 1.5rem;
}
.cart__title {
  font-size: clamp(1.666rem, 8vw, 2.255rem);
}
.cart__title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  gap: 1rem;
}
.cart__products-container {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: 0.5rem;
  margin-left: 5rem;
  font-size: 1.3rem;
}
.cart__product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: initial;
}
.cart__product-name {
  margin-right: 1rem;
}
.cart__product-quantity-container {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.cart__product-quantity {
  width: 100%;
  max-width: 150px;
  background: none;
  border: 1px solid #eee;
  font-size: 1.5rem;
}
.cart__product-delete {
  order: -1;
  background: none;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.cart__product-delete svg {
  cursor: pointer;
  fill: crimson;
}
.cart__product-delete svg:hover {
  fill: red;
}
.cart__total-container {
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.cart__buy {
  font-size: clamp(1rem, 8vw, 1.66rem);
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  padding: 0.25rem;
  cursor: pointer;
  background-color: var(--accent);
}
.cart__buy:hover:not(:disabled) {
  background-color: var(--accent-hover);
}
@media (width <= 620px) {
  .cart {
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-inline: 2rem;
  }
  .cart__products-container, .cart__total-container {
    margin-left: 0rem;
  }
  .cart__product {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 1fr;
    align-items: center;
    row-gap: 0.5rem;
  }
  .cart__product-name {
    grid-area: 1/2;
  }
  .cart__product-quantity-container {
    grid-area: 2/2;
    margin-left: 1rem;
  }
  .cart__product-delete {
    grid-area: 1/1/3/1;
    margin: auto;
  }
}

/*# sourceMappingURL=wildeArtesanal.css.map */
